/**
/* @author: quanghv
*/

.clear, .clr
{
    clear: both;
}
.clearLeft
{
    clear: left;
}
.clearRight
{
    clear: right;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.alignLeft
{
    text-align: left;
}
.alignCenter
{
    text-align: center;
}
.alignRight
{
    text-align: right;
}

